
.ratio-custom-slider {
margin-top: -30px;
position: inherit; 
margin-left: -2px; 
text-align: center; 
font-weight: bolder; 
font-size: 19px;
}

.probability-dot-disabled {
        background: #f2f2f2 !important;
}

.ratio-custom-slider {
        font-size: 14px;
}