.l0 {
    left: 0 !important
}

.p0 {
    padding: 0 !important
}

.p5 {
    padding: 5px !important
}
.p-b0 {
    padding-bottom: 0 !important
}

.p-t0 {
    padding-top: 0 !important
}

.p-r0 {
    padding-right: 0 !important
}

.p-l0 {
    padding-left: 0 !important
}
.p-10 {
    padding: 10px !important
}
.p-l0 {
    padding-left: 0 !important
}
.p-t5 {
    padding-top: 5px !important
}

.p-r5 {
    padding-right: 5px !important
}

.p-b5 {
    padding-bottom: 5px !important
}

.p-t10 {
    padding-top: 10px !important
}
.p-r15 {
    padding-right: 15px !important;
}


.p-l10 {
    padding-left: 10px !important;
}
.p-r10 {
    padding-right: 10px !important;
}

.p-l15 {
    padding-left: 15px !important;
}

.p-b10 {
    padding-bottom: 10px !important
}

.p-b15 {
    padding-bottom: 15px !important
}
.p-t20 {
    padding-top: 20px !important
}
.p-l20 {
    padding-left: 20px !important;
}
.p-r20 {
    padding-right: 20px !important;
}

.p-t25 {
    padding-top: 25px !important;
}
.p-l25 {
    padding-left: 25px !important
}
.p-l30 {
    padding-left: 15px !important;
}

.p-r30 {
    padding-right: 30px !important;
}

.font-size8 {
    font-size: 8px !important;
}

.font-size10 {
    font-size: 10px !important;
}

.font-size12 {
    font-size: 12px !important;
}

.font-size14 {
    font-size: 14px !important;
}

.font-size11 {
    font-size: 11px !important
}
.font-size18 {
    font-size: 18px !important;
}

.font-size22 {
    font-size: 25px !important;
}

.font-size25 {
    font-size: 25px !important;
}

.font-size30 {
    font-size: 30px !important;
}

.m0 {
    margin: 0 !important
}
.m-b0 {
    margin-bottom: 0px !important
}
.m-b-5 {
    margin-bottom: -5px !important
}
.m-t-5 {
    margin-top: -5px !important
}
.m-t-8 {
    margin-top: -8px !important
}

.m-t-15 {
    margin-top: -15px !important
}

.m-b-15 {
    margin-bottom: -15px !important
}

.m-t-20 {
    margin-top: -20px !important
}

.m-l-20 {
    margin-left: -20px !important
}

.m-t-25 {
    margin-top: -25px !important
}

.m-l-25 {
    margin-left: -25px !important
}
.m-t0 {
    margin-top: 0 !important
}
.m-l0 {
    margin-left: 0 !important
}
.m-l5 {
    margin-left: 5px !important
}

.m-r5 {
    margin-right: 5px !important
}

.m-b5 {
    margin-bottom: 5px !important
}

.m-t10 {
    margin-top: 10px !important
}
.m-l10 {
    margin-left: 10px !important
}

.m-r10 {
    margin-right: 10px !important
}

.m-b10 {
    margin-bottom: 10px !important
}

.m-t15 {
    margin-top: 15px !important
}
.m-l15 {
    margin-left: 15px !important
}
.m-t20 {
    margin-top: 20px !important
}

.m-b20 {
    margin-bottom: 20px !important
}

.m-l30 {
    margin-left: 30px !important
}

.m-r30 {
    margin-right: 30px !important
}

.m-b30 {
    margin-bottom: 30px !important
}

.m-l3vw {
    margin-left: 3vw !important
}

.p-b4 {
    padding-bottom: 4px !important;
}

.p-l5 {
    padding-left: 5px !important
}
.p-l0 {
    padding-left: 0 !important;
}

.m-a {
    margin: auto !important;
}

.r0 {
    right: 0 !important;
}

.r5 {
    right: 5px !important
}
.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-center {
    text-align: center !important
}

.z-index10 {
    z-index: 10 !important
}

.pos-absolute {
    position: absolute !important
}

.pos-relative {
    position: relative !important
}

.borderless {
    border: none !important
}

.borderless-l {
    border: none !important
}

.borderless-r {
    border: none !important
}
.text-italic{
	font-style: italic;
}
.text-oblique{
	font-style: oblique;
}
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.col-55 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 55%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}
.col-100 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-70 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}

.col-30 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}