<div class="title-bar-1">DEAL NAME - CF</div>
<div ng-class="{'error-input': errors && errors.name}">
    <label class="item item-input m-l-r-15 input-text m-t10">
        <input type="text" ng-model="data.lead.name" class="text-input-1 p-l5 item-input-placeholder"
               placeholder="Code name">
    </label>
    <span class="error-text" ng-if="errors.name">{{errors.name}}</span>
</div>
<div ng-class="{'error-input': errors && errors.client}">
    <label class="item item-input m-l-r-15 input-text m-t10">
        <input type="text" ng-model="data.lead.client" class="text-input-1 p-l5 item-input-placeholder"
               placeholder="Client">
    </label>
    <span class="error-text" ng-if="errors.client">{{errors.client}}</span>
</div>

<div ng-class="{'error-input': errors && errors.leads_cf_category_id}">
    <div class="m-t10 ">
        <label class="item item-input item-select custom-select ">
            <select ng-model="categorieSelect" ng-if="data.categoriesCF"
                    ng-change="showSelectCategories(categorieSelect)">
                <option value="" disabled selected>Categories:</option>
                <option ng-repeat="categorie in data.categoriesCF">{{categorie.name}}</option>
            </select>
        </label>
    </div>
    <span class="error-text" ng-if="errors.leads_cf_category_id">{{errors.leads_cf_category_id}}</span>
</div>


<label class="item item-input m-l-r-15 input-text m-t10">
    <input type="text" class="text-input-1 p-l5 item-input-placeholder" ng-model="data.lead.subtype"
           placeholder="Sub-category (e.g. sell side)">
</label>


<label class="item item-input m-l-r-15 input-text m-t10">
    <input type="text" class="text-input-1 p-l5 item-input-placeholder" ng-model="data.lead.description"
           placeholder="Engagement description">
</label>

<div class="m-t10" ng-class="{'error-input': errors && errors.origination_id}">
    <label class="item item-input item-select custom-select ">
        <select ng-model="data.lead.origination_id">
            <option value="" disabled selected>Origination:</option>
            <option ng-repeat="origination in data.originations" ng-value="origination.id">{{origination.name}}</option>
        </select>
    </label>
    <span class="error-text" ng-if="errors.origination_id">{{errors.origination_id}}</span>
</div>
<div class="m-t10" ng-class="{'error-input': errors && errors.number_of_competing_firms}">
    <label class="item item-input item-select custom-select ">
        <select ng-model="data.lead.number_of_competing_firms">
            <option value="" disabled selected>Number of firms competing:</option>
            <option
                    ng-repeat="(key, value) in data.competing_firms"
                    ng-value="key"
                    ng-selected="data.lead.number_of_competing_firms == key">{{value}}</option>
        </select>
    </label>
    <span class="error-text" ng-if="errors.number_of_competing_firms">{{errors.number_of_competing_firms}}</span>
</div>

<div class="title-bar-1 title-bar-1-margin-top">SET START DATE</div>
<!-- <div class="text-1 color-darkblue date-bar-1" ng-click="openDatePicker()">SELECT DATE</div>-->

<div class="text-1 color-darkblue date-bar-1" ng-click="openDatePickerNew()" ng-show="data.lead.start_date == null">
    Select date
</div>
<div class="text-1 color-darkblue date-bar-1" ng-click="openDatePickerNew()" ng-show="data.lead.start_date != null">
    {{data.lead.start_date*1000 | amDateFormat:"DD MMM 'YY"}}
</div>
<div ng-class="{'error-input': errors && errors.start_date}" ng-if="errors.start_date">
    <span class="error-text" ng-if="errors.start_date">{{errors.start_date}}</span>
</div>

<div class="title-bar-1 title-bar-1-margin-top">PROBABILITY</div>
<div class="probability-container" style="height:inherit; margin-top: 14px !important"
     ng-repeat="sliderIndex in [{'index':0}]" ng-include="'app/leads/templates/customSlider.html'"></div>
<div ng-class="{'error-input': errors && errors.probability}">
    <span class="error-text" ng-if="errors.probability">{{errors.probability}}</span>
</div>

<div class="title-bar-1">ECONOMICS</div>
<div class="col p-l20">
    <div class="row">
        <div class="margin-auto-t-b p-r10 text-1 color-darkblue">Duration (weeks):</div>
        <div>
            <label class="item item-input rectangle-background-1">
                <input type="number" class="text-1 color-darkblue p-l15" ng-model="data.lead.weeks">
            </label>
        </div>
    </div>
    <div ng-class="{'error-input': errors && errors.weeks}">
        <span class="error-text" ng-if="errors.weeks">{{errors.weeks}}</span>
    </div>
    <div class="row">
        <div class="margin-auto-t-b p-r10 text-1 color-darkblue">Engagement Fees:</div>
        <div>
            <label class="col item item-input rectangle-background-1">
                <input type="number" class="text-1 color-darkblue p-l15" ng-model="data.lead.revenue">
            </label>
        </div>
    </div>
    <div ng-class="{'error-input': errors && errors.revenue}">
        <span class="error-text" ng-if="errors.revenue">{{errors.revenue}}</span>
    </div>
    <div class="row" style="margin-left: -20px">
        <ion-checkbox ng-model="enableSuccessFee" ng-change="toggleEnableSuccessFee(enableSuccessFee)"
                      class="checkbox-square checkbox-padding text-1 color-darkblue p-r0 m-t0"
                      style="margin-top: 0px; left:0px">
        </ion-checkbox>
        <div class="margin-auto-t-b p-r10 text-1 color-darkblue">Success Fee:</div>
        <div ng-class="{'error-input': errors && errors.success_fees_amount}">
            <div>
                <label class="item item-input rectangle-background-1">
                    <input type="number" class="text-1 color-darkblue p-l15" ng-model="data.lead.successFees.amount">
                </label>
                <span class="error-text" ng-if="errors.success_fees_amount">{{errors.success_fees_amount}}</span>
            </div>
        </div>
    </div>
</div>

<div ng-show="enableSuccessFee">
    <div class="title-bar-1 title-bar-1-margin-top">SUCCESS FEE PROBABILITY</div>
    <div ng-class="{'error-input': errors && errors.success_fees_probability}">
        <div class="probability-container" style="height:inherit" ng-repeat="sliderIndex in [{'index':1}]"
             ng-click="setSuccessFeeProbability()" ng-include="'app/leads/templates/customSlider.html'"></div>
        <span class="error-text" ng-if="errors.success_fees_probability">{{errors.success_fees_probability}}</span>
    </div>

    <div ng-class="{'error-input': errors && errors.success_fees_expected_date}">
        <div class="row" ng-class="{'error-input': errors && errors.success_fees_expected_date}">
            <div class="col col-50 margin-auto-t-b p-r10 text-1 color-darkblue">Expected Closure Date:</div>
            <!-- <div class="col col item item-input rectangle-background-1" ></div> -->
            <!-- <div ng-click="openDatePicker()"><label class="col item item-input rectangle-background-1">{{startDate}}</label></div>-->
            <div class="text-1 color-darkblue date-bar-1 m-l15" style="width: 150px"
                 ng-click="openDatePicker('closureDate')" ng-show="data.lead.successFees.expected_date == null">Select
                date
            </div>
            <div class="text-1 color-darkblue date-bar-1 m-l15" style="width: 150px"
                 ng-click="openDatePicker('closureDate')" ng-show="data.lead.successFees.expected_date != null">
                {{data.lead.successFees.expected_date*1000 | amDateFormat:"DD MMM 'YY"}}
            </div>
        </div>
        <span class="error-text" ng-if="errors.success_fees_expected_date">{{errors.success_fees_expected_date}}</span>
    </div>

</div>

<div ng-include="'app/leads/create/qualification.html'"></div>

<button class="button-big-1" ng-click="createLead()">CREATE</button>

<div class="padding-10"></div>
